@import url("normalize.css");
@import "mixin";
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/*  Variable  */ 
$c-nav: #D2D2D2;
$c-nav-active: #ffffff;

body {
  background-color: #FAF4F2;
  font-size: 18px;
  -webkit-tap-highlight-color: transparent;
  font-family: 'Roboto', sans-serif;
}

.layout {
  @include frame(1920px, auto, center);
  position: relative;
  overflow: hidden;
}

.hero {
  height: 1080px;
  @include hero-img("../images/hero.png");
  border-radius: 0 0 200px 200px;
  padding: {
    top: 60px;
  }
  box-sizing: border-box;
  box-shadow: 5px 10px 30px rgba(0,0,0,.05);

  &__content {
    margin-top: 250px;
    color: white;
    text-align: center;
    margin: {
      left: 20px;
      right: 20px;
    };

    h1 {
      font-size: 81px;
      line-height: 88px;
      font-family: 'Archivo';
      font-weight: 900;
      margin: 0;
    }

    p {
      line-height: 28px;
      margin: {
        bottom: 30px;
        top: 59px;
      };

      @include media (550px) {
        br {
          display: none;
        }
      }
    }

    @include media (768px) {
      h1 {
        font-size: 55px;
      }
    }

    @include media (425px) {
      h1 {
        font-size: 45px;
        line-height: 49px;
      }

      p {
        margin: {
          top: 37px;
          bottom: 20px;
        };
      }
    }

    @include media (350px) {
      h1 {
        font-size: 38px;
      }

      p {
        font-size: 16px;
      }
    }
  }

  &__btn {
    display: inline-block;
    width: 205px;
    height: 50px;
    line-height: 50px;
    border-radius: 25px;
    background-color: #E76F51;

    &:hover {
      opacity: .5;
    }
  }

  @include media (768px) {
    padding: {
      top: 40px;
    }
  }

  @include media (425px) {
    height: 761px;
    border-radius: 0 0 100px 100px;

    &__content {
      margin-top: 117px;
    }

    &__btn {
      width: 160px;
    }
  }
}

.header {
  @include frame(1518px, 50px, center);
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__group-1, &__group-2 {
    @include flex(0,space-between,center);
  }

  &__group-1 {
    width: 866px;
  }

  &__group-2 {
    width: 270px;
  }

  &__nav {
    @include flex();
    a {
      display: block;
      user-select: none;
      color: $c-nav;
      text-decoration: none;
      margin-left: 40px;

      &:first-child {
        margin-left: 0;
      }

      &:hover:not(.active) {
        color: white;
      }
    }

    a.active {
      position: relative;
      color: $c-nav-active;
      z-index: 0;

      &::after {
        position: absolute;
        z-index: -1;
        top: 7px;
        left: 3px;
        content: "";
        width: 40px;
        height: 3px;
        background: #E76F51;
        transform: rotate(45deg);
      }
    }
  }

  &__sign-up {
    @include block(130px, 50px);
    line-height: 50px;

    &:hover {
      opacity: .5;
    }
  }

  &__sign-in {
    @include block(130px, 50px);
    line-height: 50px;
    border: 1px solid white;
    border-radius: 25px;
    box-sizing: border-box;

    &:hover {
      background-color: white;
      color: #505050;
      opacity: .5;
    }
  }

  &__logo {
    user-select: none;
    &:hover {
      opacity: .6;
    }
  }

  &__menu-btn {
    display: none;
  }

  @include media (1170px) {
    &__group-1 {
      width: 750px;
    }
    &__nav {
      a {
        margin-left: 25px;
      }
    }

    &__group-2 {
      width: 240px;
    }

    &__sign-up, &__sign-in {
      width: 120px;
    }
  }

  @include media (1024px) {
    &__nav {
      display: none;
    }

    &__group-2 {
      width: auto;
      align-items: normal;
    }

    &__menu-btn {
      display: block;
      margin-left: 40px;

      &:hover {
        opacity: .6;
      }
    }
  }

  @include media (500px) {
    &__menu-btn {
      margin-left: 20px;
    }
  }

  @include media (425px) {
    &__sign-up, &__sign-in {
      display: none;
    }
  }
}

.button {
  font-size: 18px;
  font-weight: 500;
  color: white;
  text-decoration: none;
  text-align: center;
  user-select: none;
}

.services {
  margin: {
    top: -108px;
  }
  @include frame(1518px, auto, center);
  @include flex(0,space-between,center);
  background-color: transparent;
  color: #3B3735;

  &__item {
    @include block(357px, 312px);
    background-color: white;
    border-radius: 20px;
    text-align: center;

    img {
      margin: {
        top: 60px;
      }
    }

    h4 {
      margin: {
        top: 23px;
        bottom: 12px;
      }
      font-family: 'Archivo';
      font-weight: 900;
      font-size: 18px;
    }

    p {
      @include frame(277px, auto);
      font-size: 16px;
      margin: 0 auto;
    }
  }

  @include media (1300px) {
    &__item {
      p {
        max-width: 307px;
        padding: 0 15px;
        box-sizing: border-box;
      }
    }
  }

  @include media (1024px) {
    flex-wrap: wrap;
    justify-content: center;

    &__item:nth-child(1), &__item:nth-child(2) {
      margin-bottom: 20px;
    }

    &__item:nth-child(2), &__item:nth-child(4) {
      margin-right: 0;
    }
  }

  @include media (770px) {
    &__item {
      width: 300px;
    }
  }

  @include media (675px) {
    &__item {
      width: 280px;
    }
  }

  @include media (620px) {
    &__item {
      width: 260px;
    }
  }

  @include media (575px) {
    &__item {
      width: 240px;
    }
  }

  @include media (540px) {
    &__item {
      width: 220px;
    }
  }

  @include media (500px) {
    margin-top: -160px;
    &__item {
      width: 374px;
      margin-right: 0;
      margin-bottom: 20px;
    }
  }
}

.content {
  margin: {
    top: 150px;
  };
  @include frame(1548px, auto, center);
  text-align: center;
  color: #3B3735;

  h1 {
    font-family: 'Archivo';
    font-size: 40px;
    line-height: 43px;
    margin: {
      top: 47px;
      bottom: 74px;
    }
  }

  &__container {
    @include frame(1518px, auto, center);
    @include flex(0,space-between,0,wrap);
  }

  &__item {
    @include frame(357px, auto);
    background-color: white;
    border-radius: 20px;
    padding: 40px;
    box-sizing: border-box;
    margin: {
      bottom: 30px;
    }

    h4 {
      font-family: 'Archivo';
      font-size: 18px;
      font-weight: 900;
      margin: {
        top: 46px;
        bottom: 6px;
      };

      a {
        text-decoration: none;
        color: #3B3735;
      }
    }

    p {
      font-size: 16px;
      line-height: 28px;
      margin: {
        top: 0;
        bottom: 25px;
      }
    }
  }

  &__item-btn {
    display: inline-block;
    @include block(185px, 50px);
    line-height: 50px;
    border-radius: 25px;
    color: #8D8D8D;
    background-color: rgba(141,141,141, 0.1);
    transition: .3s;

    &:hover {
      color: white;
      background-color: #E76F51;
    }
  }

  &__thumbnail {
    @include frame(277px, 180px);
    position: relative;

    img {
      width: 100%;
      border-radius: 20px;
    }
  }

  // &__thumbnail::after {
  //   content: "";
  //   position: absolute;
  //   top: 0;
  //   left: 0;
  //   right: 0;
  //   bottom: 0;
  //   background-color: #3B3735;
  //   opacity: .2;
  //   border-radius: 20px;
  // }

  &__price {
    position: absolute;
    bottom: -25px;
    left: 0;
    right: 0;
    margin: 0 auto;
    z-index: 1;
    @include block(145px, 50px);
    line-height: 50px;
    border-radius: 14px;
    background-color: white;
    font-weight: 500;
    color: #E76F51;
  }

  &__like {
    position: absolute;
    right: 20px;
    top: 20px;
    z-index: 1;
    cursor: pointer;
    transition: .2s;

    img {
      border-radius: 0!important;
    }

    img:hover:not(img.content__like--active) {
      opacity: .7;
    }
  }

  &__btn {
    display: block;
    margin: 0 auto;
    @include block(205px, 50px);
    line-height: 50px;
    border: 1px solid #E76F51;
    box-sizing: border-box;
    color: #E76F51;
    border-radius: 25px;
    transition: .2s;
    margin-top: 40px;

    &:hover {
      cursor: pointer;
      background: #E76F51;
      color: white;
      opacity: .6;
    }
  }
}

.subscribe {
  margin: {
    top: 150px;
  };
  overflow: hidden;
  @include frame(1518px, auto, center);
  @include flex(0,space-between);
  background: #F8E1DB;
  border-radius: 20px;
  color: #3B3735;
  position: relative;
  z-index: 0;
  padding: {
    left: 100px;
    right: 100px;
  }
  box-sizing: border-box;

  h1 {
    font-family: 'Archivo';
    font-size: 40px;
    font-weight: 900;
    margin: 0;
  }

  p {
    margin: {
      top: 15px;
      bottom: 30px;
    };
    font-size: 16px;
    font-weight: 500;
    line-height: 28px;
  }

  &__col-1 {
    margin-top: 90px;
    margin-bottom: 70px;
  }

  &__col-2 {
    margin-top: 20px;

    img {
      max-width: 100%;
    }
  }

  &__mail-i {
    margin-left: 15px;
    @include block(24.24px, 17.75px);
  }

  &__decoration {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
  }

  &__input-group {
    @include block(616px, 80px);
    @include flex(0,0,center);
    background: red;
    padding: 15px;
    box-sizing: border-box;
    border-radius: 20px;
    background: white;
    box-shadow: 5px 10px 30px rgba(59,55,53, 0.05);

    input {
      @include block(85%, 100%);
      outline: none;
      border: none;
      background: transparent;
      text-indent: 10px;
      font-size: 14px;
      color: #8D8D8D;

      &::placeholder {
        opacity: 1;
      }
    }

    div {
      width: 15%;
      @include flex(0,flex-end);

      span {
        display: block;
        @include block(50px);
        background-color: #E76F51;
        border-radius: 20px;
        @include flex(0,center,center);
        cursor: pointer;
        box-shadow: 5px 10px 30px rgba(231,111,81, 0.4);

        &:hover {
          opacity: .8;
        }
      }
    }
  }
}

.footer {
  margin-top: 180px;
  height: 527px;
  background-color: #F8E1DB;
  border-radius: 200px 200px 0 0;
  color: #3B3735;
  padding: {
    top: 105px;
  }
  box-sizing: border-box;

  h4 {
    font-family: 'Archivo';
    font-size: 18px;
    font-weight: 900;
    margin: {
      top: 0;
      bottom: 22px;
    }
  }

  p {
    font-size: 16px;
    line-height: 28px;
  }

  &__container {
    position: relative;
    @include frame(1518px,auto,center);
  }

  &__top-arrow {
    @include block(60px);
    position: absolute;
    right: 0;
    top: -136px;
    background-color: white;
    @include flex(0,center,center);
    border-radius: 20px;

    &:hover {
      cursor: pointer;
      opacity: .8;
    }
  }

  &__row-1 {
    @include flex(0,space-between);

    span {
      display: block;

      a {
        text-decoration: none;
        color: #3B3735;
        font-size: 16px;
        line-height: 28px;

        &:hover {
          font-weight: 500;
        }
      }
    }
  }

  &__col {

    div {
      width: 228px;
    }
    width: 744px;
    @include flex(0, space-between);
  }

  &__row-2 {
    margin-top: 10px;

    a:first-child {
      margin-right: 10px;
    }

    img:hover {
      opacity: .6;
    }
  }

  &__row-3 {
    margin-top: 60px;
    text-align: center;
    font-size: 16px;
  }
}

.decoration-right {
  position: absolute;
  top: 1025px;
  right: -338px;
  z-index: -1;
}

@include media (1680px) {
  .layout {
    font-size: 17px;
  }

  .hero {
    height: 1000px;

    &__content {
      margin-top: 200px;

      h1 {
        font-size: 75px;
      }

      p {
        margin-top: 50px;
      }
    }

    &__btn {
      font-size: 17px;
    }
  }

  .header {
    max-width: 1418px;

    &__group-1 {
      width: 840px;
    }

    &__sign-up, &__sign-in {
      font-size: 17px;
    }
  }

  .services {
    max-width: 1418px;

    &__item {
      @include block(335px, 290px);

      img {
        margin-top: 50px;
      }
      h4 {
        font-size: 17px;
      }

      p {
        font-size: 15px;
      }
    }
  }

  .content {
    margin-top: 130px;

    h1 {
      font-size: 38px;
      margin-top: 40px;
      margin-bottom: 70px;
    }

    &__container {
      max-width: 1418px;
    }

    &__price {
      font-size: 16px;
    }

    &__item {
      @include block(337px, auto);

      padding: 36px;

      h4 {
        font-size: 17px;
      }

      p {
        font-size: 15px;
      }

      &-btn {
        font-size: 17px;
      }
    }
  }

  .subscribe {
    margin-top: 130px;
    max-width: 1418px;

    padding: {
      left: 70px;
      right: 70px;
    }

    &__decoration {
      left: -50px;
    }
  }

  .footer {
    margin-top: 150px;
    border-radius: 140px 140px 0 0;
    padding-top: 95px;
    height: 490px;

    &__top-arrow {
      top: -126px;
    }

    &__container {
      max-width: 1418px;
    }

    h4 {
      font-size: 17px;
    }

    p {
      font-size: 15px;
    }

    &__row-1 span a {
      font-size: 15px;
    }

    &__row-3 {
      margin-top: 50px;
      font-size: 15px;
    }
  }
}


// 1536px
@include media (1550px) {
  .layout {
    font-size: 15px;
  }

  .hero {
    padding-top: 50px;
    height: 900px;
    border-radius: 0 0 150px 150px;

    &__btn {
      width: 170px;
      height: 45px;
      line-height: 45px;
      font-size: 15px;
    }

    &__content {
      margin-top: 190px;
      h1 {
        font-size: 65px;
        line-height: 75px;
      }

      p {
        font-size: 15px;
        margin-top: 35px;
        margin-bottom: 25px;
      }
    }
  }

  .header {
    max-width: 1218px;

    &__nav {
      a {
        margin-left: 30px;
      }

      a.active::after {
        top: 5px;
        width: 32px;
        height: 2px;
      }
    }

    &__group-1 {
      width: 705px;

      img {
        @include block(45px);
      }
    }

    &__group-2 {
      width: 240px;
    }

    &__sign-up, &__sign-in {
      font-size: 15px;
      @include block(120px, 45px);
      line-height: 45px;
    }
  }

  .services {
    margin-top: -90px;
    max-width: 1218px;

    &__item {
      @include block(285px, 250px);

      img {
        margin-top: 40px;
        transform: scale(.8);
      }

      h4 {
        margin-top: 15px;
        font-size: 15px;
      }

      p {
        max-width: 225px;
        font-size: 13px;
      }
    }
  }

  .content {
    margin-top: 120px;

    &__container {
      max-width: 1218px;
    }

    &__btn {
      @include block(170px, 42px);
      line-height: 42px;
      font-size: 15px;
      margin-top: 25px;
    }

    &__price {
      @include block(115px, 45px);
      line-height: 45px;
      font-size: 14px;
      bottom: -19px;
    }

    &__like {
      top: 15px;
      right: 15px;

      img {
        @include block(32px);
      }
    }

    &__item {
      width: 286px;
      padding: 32px;
      border-radius: 15px;

      h4 {
        margin-top: 35px;
        font-size: 15px;
      }

      p {
        font-size: 13px;
        line-height: 22px;
        margin-bottom: 22px;
      }

      &-btn {
        @include block(150px, 40px);
        line-height: 40px;
        font-size: 14px;
      }
    }

    &__thumbnail {
      height: auto;
      img {
        border-radius: 15px;
      }
    }

    &__icon {
      @include block(69.23px, 69.31px);
    }

    h1 {
      margin-top: 35px;
      font-size: 30px;
      line-height: 35px;
    }
  }

  .subscribe {
    margin-top: 120px;
    max-width: 1218px;

    padding: {
      left: 85px;
      right: 85px;
    }

    h1 {
      font-size: 30px;
    }

    p {
      font-size: 13px;
      line-height: 24px;
      margin: {
        top: 10px;
        bottom: 22px;
      };
    }

    &__col-1 {
      margin-top: 70px;
      margin-bottom: 52px;
    }

    &__col-2 {
      text-align: right;
      img {
        max-width: 79%;
      }
    }

    &__mail-i {
      transform: scale(.8);
      margin-left: 8px;
    }

    &__input-group {
      width: 500px;
      height: 68px;
      border-radius: 15px;

      input {
        font-size: 13px;
        text-indent: 6px;
      }

      div span {
        @include block(40px);
        border-radius: 15px;

        img {
          width: 50%;
        }
      }
    }

    &__decoration {
      max-width: 100%;
      left: 0;
    }
  }

  .footer {
    margin-top: 140px;
    border-radius: 160px 160px 0 0;
    padding-top: 85px;
    height: 420px;

    &__top-arrow {
      @include block(45px);
      border-radius: 15px;
      top: -110px;

      img {
        width: 15px;
        height: auto;
      }
    }

    &__col {
      width: 595px;
    }

    &__container {
      max-width: 1218px;
    }

    h4 {
      font-size: 15px;
      margin-bottom: 17px;
    }

    p {
      font-size: 13px;
      line-height: 24px;
    }

    &__row-1 span a {
      font-size: 13px;
      line-height: 24px;
    }

    &__row-2 {
      margin-top: 5px;

      a:first-child {
        margin-right: 8px;
      }
    }

    &__row-3 {
      margin-top: 45px;
      font-size: 13px;
    }

    &__download {
      img {
        width: 120px;
      }
    }
  }

  .decoration-right {
    top: 750px;
    right: -500px;
  }
}

@include media(1400px) {
  .layout {
    font-size: 13px;
  }

  .hero {
    padding-top: 40px;
    height: 830px;
    border-radius: 0 0 140px 140px;

    &__btn {
      width: 160px;
      height: 40px;
      line-height: 40px;
      font-size: 13px;
    }

    &__content {
      margin-top: 180px;
      h1 {
        font-size: 60px;
        line-height: 65px;
      }

      p {
        font-size: 13px;
        margin-top: 30px;
        margin-bottom: 20px;
      }
    }
  }

  .header {
    max-width: 1100px;

    &__nav {
      a {
        margin-left: 27px;
      }
    }

    &__group-1 {
      width: 615px;

      img {
        @include block(40px);
      }
    }

    &__group-2 {
      width: 220px;
    }

    &__sign-up, &__sign-in {
      font-size: 13px;
      @include block(110px, 42px);
      line-height: 42px;
    }
  }

  .services {
    margin-top: -80px;
    max-width: 1100px;

    &__item {
      @include block(258px, 220px);

      img {
        margin-top: 30px;
        transform: scale(.7);
      }

      h4 {
        margin-top: 8px;
        font-size: 14px;
      }

      p {
        max-width: 208px;
        font-size: 12px;
      }
    }
  }

  .content {
    margin-top: 110px;

    &__container {
      max-width: 1100px;
    }

    &__btn {
      @include block(160px, 40px);
      line-height: 40px;
      font-size: 14px;
      margin-top: 25px;
    }

    &__price {
      @include block(110px, 42px);
      line-height: 42px;
      font-size: 13px;
      bottom: -19px;
    }

    &__like {
      top: 14px;
      right: 14px;

      img {
        @include block(28px);
      }
    }

    &__item {
      width: 258px;
      padding: 29px;
      margin-bottom: 25px;
      border-radius: 13px;

      h4 {
        margin-top: 35px;
        font-size: 13.5px;
      }

      p {
        font-size: 12px;
        line-height: 20px;
        margin-bottom: 20px;
      }

      &-btn {
        @include block(145px, 38px);
        line-height: 38px;
        font-size: 13px;
      }
    }

    &__thumbnail {
      height: auto;
      img {
        border-radius: 13px;
      }
    }

    &__icon {
      @include block(62.23px, 62.31px);
    }

    h1 {
      margin-top: 30px;
      font-size: 27px;
      line-height: 33px;
    }
  }

  .subscribe {
    margin-top: 110px;
    max-width: 1100px;

    padding: {
      left: 80px;
      right: 80px;
    }

    h1 {
      font-size: 27px;
    }

    p {
      font-size: 12px;
      line-height: 20px;
      margin: {
        top: 10px;
        bottom: 22px;
      };
    }

    &__col-1 {
      margin-top: 63px;
      margin-bottom: 45px;
    }

    &__col-2 {
      text-align: right;
      img {
        max-width: 69%;
      }
    }

    &__mail-i {
      transform: scale(.8);
      margin-left: 8px;
    }

    &__input-group {
      width: 450px;
      height: 63px;
      border-radius: 15px;

      input {
        font-size: 12px;
        text-indent: 6px;
      }

      div span {
        @include block(38px);
        border-radius: 14px;

        img {
          width: 48%;
        }
      }
    }

    &__decoration {
      max-width: 100%;
      left: 0;
    }
  }

  .footer {
    margin-top: 130px;
    border-radius: 150px 150px 0 0;
    padding-top: 75px;
    height: 375px;

    &__top-arrow {
      @include block(40px);
      border-radius: 13px;
      top: -97px;

      img {
        width: 13px;
        height: auto;
      }
    }

    &__col {
      width: 535px;
    }

    &__container {
      max-width: 1100px;
    }

    h4 {
      font-size: 14px;
      margin-bottom: 14px;
    }

    p {
      font-size: 12px;
      line-height: 22px;
    }

    &__row-1 span a {
      font-size: 12px;
      line-height: 22px;
    }

    &__row-2 {
      margin-top: 3px;

      a:first-child {
        margin-right: 8px;
      }
    }

    &__row-3 {
      margin-top: 40px;
      font-size: 12px;
    }

    &__download {
      img {
        width: 110px;
      }
    }
  }

  .decoration-right {
    top: 820px;
    right: -250px;

    img {
      width: 1950px;
    }
  }
}


/*  1300px */ 
@include media(1300px) {
  .layout {
    font-size: 12px;
  }

  .hero {
    padding-top: 30px;
    height: 720px;
    border-radius: 0 0 120px 120px;

    &__btn {
      width: 140px;
      height: 35px;
      line-height: 35px;
      font-size: 12px;
    }

    &__content {
      margin-top: 155px;
      h1 {
        font-size: 50px;
        line-height: 55px;
      }

      p {
        font-size: 12px;
        margin-top: 22px;
        margin-bottom: 17px;
        line-height: 23px;
      }
    }
  }

  .header {
    max-width: 1020px;

    &__nav {
      a {
        margin-left: 22px;
      }
    }

    &__group-1 {
      width: 545px;

      img {
        @include block(35px);
      }
    }

    &__group-2 {
      width: 200px;
    }

    &__sign-up, &__sign-in {
      font-size: 12px;
      @include block(100px, 38px);
      line-height: 38px;
    }
  }

  .services {
    margin-top: -60px;
    max-width: 1020px;

    &__item {
      @include block(240px, 200px);

      img {
        margin-top: 25px;
        transform: scale(.6);
      }

      h4 {
        margin-top: 5px;
        font-size: 12.5px;
        margin-bottom: 10px;
      }

      p {
        max-width: 220px;
        font-size: 11px;
        line-height: 13px;
      }
    }
  }

  .content {
    margin-top: 100px;

    &__container {
      max-width: 1020px;
    }

    &__btn {
      @include block(145px, 36px);
      line-height: 36px;
      font-size: 13px;
      margin-top: 25px;
    }

    &__price {
      @include block(100px, 38px);
      line-height: 38px;
      font-size: 12px;
      bottom: -16px;
      border-radius: 12px;
    }

    &__like {
      top: 13px;
      right: 13px;

      img {
        @include block(25px);
      }
    }

    &__item {
      width: 239px;
      padding: 25px;
      margin-bottom: 22px;
      border-radius: 10px;

      h4 {
        margin-top: 33px;
        font-size: 12.5px;
      }

      p {
        font-size: 11px;
        line-height: 18px;
        margin-bottom: 17px;
      }

      &-btn {
        @include block(140px, 35px);
        line-height: 35px;
        font-size: 12px;
      }
    }

    &__thumbnail {
      height: auto;
      img {
        border-radius: 12px;
      }
    }

    &__icon {
      @include block(62.23px, 62.31px);
    }

    h1 {
      margin-top: 22px;
      font-size: 23px;
      line-height: 26px;
    }
  }

  .subscribe {
    margin-top: 95px;
    max-width: 1020px;

    padding: {
      left: 70px;
      right: 70px;
    }

    h1 {
      font-size: 23px;
    }

    p {
      font-size: 11px;
      line-height: 18px;
      margin: {
        top: 8px;
        bottom: 20px;
      };
    }

    &__col-1 {
      margin-top: 60px;
      margin-bottom: 45px;
    }

    &__col-2 {
      text-align: right;
      img {
        max-width: 63%;
      }
    }

    &__mail-i {
      transform: scale(.7);
      margin-left: 8px;
      margin-top: -1px;
    }

    &__input-group {
      width: 410px;
      height: 58px;
      border-radius: 14px;

      input {
        font-size: 11px;
        text-indent: 4px;
      }

      div span {
        @include block(35px);
        border-radius: 13px;

        img {
          width: 43%;
        }
      }
    }

    &__decoration {
      max-width: 100%;
      left: 0;
    }
  }

  .footer {
    margin-top: 120px;
    border-radius: 130px 130px 0 0;
    padding-top: 75px;
    height: 345px;

    &__top-arrow {
      @include block(38px);
      border-radius: 12px;
      top: -95px;

      img {
        width: 11px;
        height: auto;
      }
    }

    &__col {
      width: 495px;
    }

    &__container {
      max-width: 1020px;
    }

    h4 {
      font-size: 13px;
      margin-bottom: 12px;
    }

    p {
      font-size: 11px;
      line-height: 20px;
    }

    &__row-1 span a {
      font-size: 11px;
      line-height: 20px;
    }

    &__row-2 {
      margin-top: 2px;

      a:first-child {
        margin-right: 5px;
      }
    }

    &__row-3 {
      margin-top: 35px;
      font-size: 11px;
    }

    &__download {
      img {
        width: 100px;
      }
    }
  }

  .decoration-right {
    top: 720px;
    right: -250px;

    img {
      width: 1850px;
    }
  }
}

@include media(1200px) {
  .layout {
    font-size: 11px;
  }

  .hero {
    padding-top: 25px;
    height: 650px;

    &__btn {
      width: 130px;
      height: 32px;
      line-height: 32px;
      font-size: 11px;
    }

    &__content {
      margin-top: 145px;
      h1 {
        font-size: 42px;
        line-height: 50px;
      }

      p {
        font-size: 11px;
        margin-top: 20px;
        margin-bottom: 15px;
        line-height: 20px;
      }
    }
  }

  .header {
    max-width: 920px;

    &__nav {
      a {
        margin-left: 20px;
      }

      a.active::after {
        height: 1.5px;
        width: 25px;
      }
    }

    &__group-1 {
      width: 500px;

      img {
        @include block(32px);
      }
    }

    &__group-2 {
      width: 180px;
    }

    &__sign-up, &__sign-in {
      font-size: 11px;
      @include block(90px, 34px);
      line-height: 34px;
    }
  }

  .services {
    margin-top: -60px;
    max-width: 920px;

    &__item {
      @include block(218px, 180px);

      img {
        margin-top: 20px;
        transform: scale(.5);
      }

      h4 {
        margin-top: 0px;
        font-size: 11px;
        margin-bottom: 8px;
      }

      p {
        max-width: 194px;
        font-size: 9.5px;
      }
    }
  }

  .content {
    margin-top: 85px;

    &__container {
      max-width: 920px;
    }

    &__btn {
      @include block(135px, 32px);
      line-height: 32px;
      font-size: 11px;
      margin-top: 20px;
    }

    &__price {
      @include block(90px, 34px);
      line-height: 34px;
      font-size: 11px;
      bottom: -13px;
      border-radius: 11px;
    }

    &__like {
      top: 12px;
      right: 12px;

      img {
        @include block(23px);
      }
    }

    &__item {
      width: 216px;
      padding: 21px;
      margin-bottom: 20px;
      border-radius: 9px;

      h4 {
        margin-top: 30px;
        font-size: 11.5px;
      }

      p {
        font-size: 9.5px;
        line-height: 18px;
        margin-bottom: 15px;
      }

      &-btn {
        @include block(130px, 32px);
        line-height: 32px;
        font-size: 11px;
      }
    }

    &__thumbnail {
      height: auto;
      img {
        border-radius: 12px;
      }
    }

    &__icon {
      @include block(49.23px, 49.31px);
    }

    h1 {
      margin-top: 20px;
      font-size: 20px;
      line-height: 24px;
      margin-bottom: 40px;
    }
  }

  .subscribe {
    margin-top: 75px;
    max-width: 920px;
    border-radius: 15px;

    padding: {
      left: 65px;
      right: 65px;
    }

    h1 {
      font-size: 20px;
    }

    p {
      font-size: 10px;
      line-height: 16px;
      margin: {
        top: 6px;
        bottom: 18px;
      };
    }

    &__col-1 {
      margin-top: 50px;
      margin-bottom: 40px;
    }

    &__col-2 {
      img {
        max-width: 60%;
      }
    }

    &__mail-i {
      transform: scale(.6);
      margin-left: 4px;
      margin-top: -1px;
    }

    &__input-group {
      width: 360px;
      height: 52px;
      border-radius: 13px;

      input {
        font-size: 10px;
        text-indent: 1px;
      }

      div span {
        @include block(30px);
        border-radius: 11px;

        img {
          width: 40%;
        }
      }
    }

    &__decoration {
      max-width: 100%;
      left: 0;
    }
  }

  .footer {
    margin-top: 110px;
    border-radius: 120px 120px 0 0;
    padding-top: 65px;
    height: 315px;

    &__top-arrow {
      @include block(35px);
      border-radius: 11px;
      top: -84px;

      img {
        width: 10px;
        height: auto;
      }
    }

    &__col {
      width: 445px;
    }

    &__container {
      max-width: 920px;
    }

    h4 {
      font-size: 11px;
      margin-bottom: 10px;
    }

    p {
      font-size: 10px;
      line-height: 19px;
    }

    &__row-1 span a {
      font-size: 10px;
      line-height: 19px;
    }

    &__row-2 {
      margin-top: 1px;

      a:first-child {
        margin-right: 3px;
      }
    }

    &__row-3 {
      margin-top: 30px;
      font-size: 10px;
    }

    &__download {
      img {
        width: 92px;
      }
    }
  }

  .decoration-right {
    top: 600px;
    right: -250px;

    img {
      width: 1750px;
    }
  }
}

