@import url("normalize.css");
/*  RESPONSIVE  */
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
/*  Variable  */
body {
  background-color: #FAF4F2;
  font-size: 18px;
  -webkit-tap-highlight-color: transparent;
  font-family: "Roboto", sans-serif;
}

.layout {
  max-width: 1920px;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  overflow: hidden;
}

.hero {
  height: 1080px;
  background-image: url("../images/hero.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 0 0 200px 200px;
  padding-top: 60px;
  box-sizing: border-box;
  box-shadow: 5px 10px 30px rgba(0, 0, 0, 0.05);
}
.hero__content {
  margin-top: 250px;
  color: white;
  text-align: center;
  margin-left: 20px;
  margin-right: 20px;
}
.hero__content h1 {
  font-size: 81px;
  line-height: 88px;
  font-family: "Archivo";
  font-weight: 900;
  margin: 0;
}
.hero__content p {
  line-height: 28px;
  margin-bottom: 30px;
  margin-top: 59px;
}
.hero__btn {
  display: inline-block;
  width: 205px;
  height: 50px;
  line-height: 50px;
  border-radius: 25px;
  background-color: #E76F51;
}
.hero__btn:hover {
  opacity: 0.5;
}

.header {
  max-width: 1518px;
  height: 50px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__group-1, .header__group-2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__group-1 {
  width: 866px;
}
.header__group-2 {
  width: 270px;
}
.header__nav {
  display: flex;
}
.header__nav a {
  display: block;
  user-select: none;
  color: #D2D2D2;
  text-decoration: none;
  margin-left: 40px;
}
.header__nav a:first-child {
  margin-left: 0;
}
.header__nav a:hover:not(.active) {
  color: white;
}
.header__nav a.active {
  position: relative;
  color: #ffffff;
  z-index: 0;
}
.header__nav a.active::after {
  position: absolute;
  z-index: -1;
  top: 7px;
  left: 3px;
  content: "";
  width: 40px;
  height: 3px;
  background: #E76F51;
  transform: rotate(45deg);
}
.header__sign-up {
  width: 130px;
  height: 50px;
  line-height: 50px;
}
.header__sign-up:hover {
  opacity: 0.5;
}
.header__sign-in {
  width: 130px;
  height: 50px;
  line-height: 50px;
  border: 1px solid white;
  border-radius: 25px;
  box-sizing: border-box;
}
.header__sign-in:hover {
  background-color: white;
  color: #505050;
  opacity: 0.5;
}
.header__logo {
  user-select: none;
}
.header__logo:hover {
  opacity: 0.6;
}
.header__menu-btn {
  display: none;
}

.button {
  font-size: 18px;
  font-weight: 500;
  color: white;
  text-decoration: none;
  text-align: center;
  user-select: none;
}

.services {
  margin-top: -108px;
  max-width: 1518px;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: transparent;
  color: #3B3735;
}
.services__item {
  width: 357px;
  height: 312px;
  background-color: white;
  border-radius: 20px;
  text-align: center;
}
.services__item img {
  margin-top: 60px;
}
.services__item h4 {
  margin-top: 23px;
  margin-bottom: 12px;
  font-family: "Archivo";
  font-weight: 900;
  font-size: 18px;
}
.services__item p {
  max-width: 277px;
  height: auto;
  font-size: 16px;
  margin: 0 auto;
}

.content {
  margin-top: 150px;
  max-width: 1548px;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  color: #3B3735;
}
.content h1 {
  font-family: "Archivo";
  font-size: 40px;
  line-height: 43px;
  margin-top: 47px;
  margin-bottom: 74px;
}
.content__container {
  max-width: 1518px;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.content__item {
  max-width: 357px;
  height: auto;
  background-color: white;
  border-radius: 20px;
  padding: 40px;
  box-sizing: border-box;
  margin-bottom: 30px;
}
.content__item h4 {
  font-family: "Archivo";
  font-size: 18px;
  font-weight: 900;
  margin-top: 46px;
  margin-bottom: 6px;
}
.content__item h4 a {
  text-decoration: none;
  color: #3B3735;
}
.content__item p {
  font-size: 16px;
  line-height: 28px;
  margin-top: 0;
  margin-bottom: 25px;
}
.content__item-btn {
  display: inline-block;
  width: 185px;
  height: 50px;
  line-height: 50px;
  border-radius: 25px;
  color: #8D8D8D;
  background-color: rgba(141, 141, 141, 0.1);
  transition: 0.3s;
}
.content__item-btn:hover {
  color: white;
  background-color: #E76F51;
}
.content__thumbnail {
  max-width: 277px;
  height: 180px;
  position: relative;
}
.content__thumbnail img {
  width: 100%;
  border-radius: 20px;
}
.content__price {
  position: absolute;
  bottom: -25px;
  left: 0;
  right: 0;
  margin: 0 auto;
  z-index: 1;
  width: 145px;
  height: 50px;
  line-height: 50px;
  border-radius: 14px;
  background-color: white;
  font-weight: 500;
  color: #E76F51;
}
.content__like {
  position: absolute;
  right: 20px;
  top: 20px;
  z-index: 1;
  cursor: pointer;
  transition: 0.2s;
}
.content__like img {
  border-radius: 0 !important;
}
.content__like img:hover:not(img.content__like--active) {
  opacity: 0.7;
}
.content__btn {
  display: block;
  margin: 0 auto;
  width: 205px;
  height: 50px;
  line-height: 50px;
  border: 1px solid #E76F51;
  box-sizing: border-box;
  color: #E76F51;
  border-radius: 25px;
  transition: 0.2s;
  margin-top: 40px;
}
.content__btn:hover {
  cursor: pointer;
  background: #E76F51;
  color: white;
  opacity: 0.6;
}

.subscribe {
  margin-top: 150px;
  overflow: hidden;
  max-width: 1518px;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: space-between;
  background: #F8E1DB;
  border-radius: 20px;
  color: #3B3735;
  position: relative;
  z-index: 0;
  padding-left: 100px;
  padding-right: 100px;
  box-sizing: border-box;
}
.subscribe h1 {
  font-family: "Archivo";
  font-size: 40px;
  font-weight: 900;
  margin: 0;
}
.subscribe p {
  margin-top: 15px;
  margin-bottom: 30px;
  font-size: 16px;
  font-weight: 500;
  line-height: 28px;
}
.subscribe__col-1 {
  margin-top: 90px;
  margin-bottom: 70px;
}
.subscribe__col-2 {
  margin-top: 20px;
}
.subscribe__col-2 img {
  max-width: 100%;
}
.subscribe__mail-i {
  margin-left: 15px;
  width: 24.24px;
  height: 17.75px;
}
.subscribe__decoration {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}
.subscribe__input-group {
  width: 616px;
  height: 80px;
  display: flex;
  align-items: center;
  background: red;
  padding: 15px;
  box-sizing: border-box;
  border-radius: 20px;
  background: white;
  box-shadow: 5px 10px 30px rgba(59, 55, 53, 0.05);
}
.subscribe__input-group input {
  width: 85%;
  height: 100%;
  outline: none;
  border: none;
  background: transparent;
  text-indent: 10px;
  font-size: 14px;
  color: #8D8D8D;
}
.subscribe__input-group input::placeholder {
  opacity: 1;
}
.subscribe__input-group div {
  width: 15%;
  display: flex;
  justify-content: flex-end;
}
.subscribe__input-group div span {
  display: block;
  width: 50px;
  height: 50px;
  background-color: #E76F51;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  box-shadow: 5px 10px 30px rgba(231, 111, 81, 0.4);
}
.subscribe__input-group div span:hover {
  opacity: 0.8;
}

.footer {
  margin-top: 180px;
  height: 527px;
  background-color: #F8E1DB;
  border-radius: 200px 200px 0 0;
  color: #3B3735;
  padding-top: 105px;
  box-sizing: border-box;
}
.footer h4 {
  font-family: "Archivo";
  font-size: 18px;
  font-weight: 900;
  margin-top: 0;
  margin-bottom: 22px;
}
.footer p {
  font-size: 16px;
  line-height: 28px;
}
.footer__container {
  position: relative;
  max-width: 1518px;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}
.footer__top-arrow {
  width: 60px;
  height: 60px;
  position: absolute;
  right: 0;
  top: -136px;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
}
.footer__top-arrow:hover {
  cursor: pointer;
  opacity: 0.8;
}
.footer__row-1 {
  display: flex;
  justify-content: space-between;
}
.footer__row-1 span {
  display: block;
}
.footer__row-1 span a {
  text-decoration: none;
  color: #3B3735;
  font-size: 16px;
  line-height: 28px;
}
.footer__row-1 span a:hover {
  font-weight: 500;
}
.footer__col {
  width: 744px;
  display: flex;
  justify-content: space-between;
}
.footer__col div {
  width: 228px;
}
.footer__row-2 {
  margin-top: 10px;
}
.footer__row-2 a:first-child {
  margin-right: 10px;
}
.footer__row-2 img:hover {
  opacity: 0.6;
}
.footer__row-3 {
  margin-top: 60px;
  text-align: center;
  font-size: 16px;
}

.decoration-right {
  position: absolute;
  top: 1025px;
  right: -338px;
  z-index: -1;
}

@media (max-width: 1680px) {
  .layout {
    font-size: 17px;
  }

  .hero {
    height: 1000px;
  }
  .hero__content {
    margin-top: 200px;
  }
  .hero__content h1 {
    font-size: 75px;
  }
  .hero__content p {
    margin-top: 50px;
  }
  .hero__btn {
    font-size: 17px;
  }

  .header {
    max-width: 1418px;
  }
  .header__group-1 {
    width: 840px;
  }
  .header__sign-up, .header__sign-in {
    font-size: 17px;
  }

  .services {
    max-width: 1418px;
  }
  .services__item {
    width: 335px;
    height: 290px;
  }
  .services__item img {
    margin-top: 50px;
  }
  .services__item h4 {
    font-size: 17px;
  }
  .services__item p {
    font-size: 15px;
  }

  .content {
    margin-top: 130px;
  }
  .content h1 {
    font-size: 38px;
    margin-top: 40px;
    margin-bottom: 70px;
  }
  .content__container {
    max-width: 1418px;
  }
  .content__price {
    font-size: 16px;
  }
  .content__item {
    width: 337px;
    height: auto;
    padding: 36px;
  }
  .content__item h4 {
    font-size: 17px;
  }
  .content__item p {
    font-size: 15px;
  }
  .content__item-btn {
    font-size: 17px;
  }

  .subscribe {
    margin-top: 130px;
    max-width: 1418px;
    padding-left: 70px;
    padding-right: 70px;
  }
  .subscribe__decoration {
    left: -50px;
  }

  .footer {
    margin-top: 150px;
    border-radius: 140px 140px 0 0;
    padding-top: 95px;
    height: 490px;
  }
  .footer__top-arrow {
    top: -126px;
  }
  .footer__container {
    max-width: 1418px;
  }
  .footer h4 {
    font-size: 17px;
  }
  .footer p {
    font-size: 15px;
  }
  .footer__row-1 span a {
    font-size: 15px;
  }
  .footer__row-3 {
    margin-top: 50px;
    font-size: 15px;
  }
}
@media (max-width: 1550px) {
  .layout {
    font-size: 15px;
  }

  .hero {
    padding-top: 50px;
    height: 900px;
    border-radius: 0 0 150px 150px;
  }
  .hero__btn {
    width: 170px;
    height: 45px;
    line-height: 45px;
    font-size: 15px;
  }
  .hero__content {
    margin-top: 190px;
  }
  .hero__content h1 {
    font-size: 65px;
    line-height: 75px;
  }
  .hero__content p {
    font-size: 15px;
    margin-top: 35px;
    margin-bottom: 25px;
  }

  .header {
    max-width: 1218px;
  }
  .header__nav a {
    margin-left: 30px;
  }
  .header__nav a.active::after {
    top: 5px;
    width: 32px;
    height: 2px;
  }
  .header__group-1 {
    width: 705px;
  }
  .header__group-1 img {
    width: 45px;
    height: 45px;
  }
  .header__group-2 {
    width: 240px;
  }
  .header__sign-up, .header__sign-in {
    font-size: 15px;
    width: 120px;
    height: 45px;
    line-height: 45px;
  }

  .services {
    margin-top: -90px;
    max-width: 1218px;
  }
  .services__item {
    width: 285px;
    height: 250px;
  }
  .services__item img {
    margin-top: 40px;
    transform: scale(0.8);
  }
  .services__item h4 {
    margin-top: 15px;
    font-size: 15px;
  }
  .services__item p {
    max-width: 225px;
    font-size: 13px;
  }

  .content {
    margin-top: 120px;
  }
  .content__container {
    max-width: 1218px;
  }
  .content__btn {
    width: 170px;
    height: 42px;
    line-height: 42px;
    font-size: 15px;
    margin-top: 25px;
  }
  .content__price {
    width: 115px;
    height: 45px;
    line-height: 45px;
    font-size: 14px;
    bottom: -19px;
  }
  .content__like {
    top: 15px;
    right: 15px;
  }
  .content__like img {
    width: 32px;
    height: 32px;
  }
  .content__item {
    width: 286px;
    padding: 32px;
    border-radius: 15px;
  }
  .content__item h4 {
    margin-top: 35px;
    font-size: 15px;
  }
  .content__item p {
    font-size: 13px;
    line-height: 22px;
    margin-bottom: 22px;
  }
  .content__item-btn {
    width: 150px;
    height: 40px;
    line-height: 40px;
    font-size: 14px;
  }
  .content__thumbnail {
    height: auto;
  }
  .content__thumbnail img {
    border-radius: 15px;
  }
  .content__icon {
    width: 69.23px;
    height: 69.31px;
  }
  .content h1 {
    margin-top: 35px;
    font-size: 30px;
    line-height: 35px;
  }

  .subscribe {
    margin-top: 120px;
    max-width: 1218px;
    padding-left: 85px;
    padding-right: 85px;
  }
  .subscribe h1 {
    font-size: 30px;
  }
  .subscribe p {
    font-size: 13px;
    line-height: 24px;
    margin-top: 10px;
    margin-bottom: 22px;
  }
  .subscribe__col-1 {
    margin-top: 70px;
    margin-bottom: 52px;
  }
  .subscribe__col-2 {
    text-align: right;
  }
  .subscribe__col-2 img {
    max-width: 79%;
  }
  .subscribe__mail-i {
    transform: scale(0.8);
    margin-left: 8px;
  }
  .subscribe__input-group {
    width: 500px;
    height: 68px;
    border-radius: 15px;
  }
  .subscribe__input-group input {
    font-size: 13px;
    text-indent: 6px;
  }
  .subscribe__input-group div span {
    width: 40px;
    height: 40px;
    border-radius: 15px;
  }
  .subscribe__input-group div span img {
    width: 50%;
  }
  .subscribe__decoration {
    max-width: 100%;
    left: 0;
  }

  .footer {
    margin-top: 140px;
    border-radius: 160px 160px 0 0;
    padding-top: 85px;
    height: 420px;
  }
  .footer__top-arrow {
    width: 45px;
    height: 45px;
    border-radius: 15px;
    top: -110px;
  }
  .footer__top-arrow img {
    width: 15px;
    height: auto;
  }
  .footer__col {
    width: 595px;
  }
  .footer__container {
    max-width: 1218px;
  }
  .footer h4 {
    font-size: 15px;
    margin-bottom: 17px;
  }
  .footer p {
    font-size: 13px;
    line-height: 24px;
  }
  .footer__row-1 span a {
    font-size: 13px;
    line-height: 24px;
  }
  .footer__row-2 {
    margin-top: 5px;
  }
  .footer__row-2 a:first-child {
    margin-right: 8px;
  }
  .footer__row-3 {
    margin-top: 45px;
    font-size: 13px;
  }
  .footer__download img {
    width: 120px;
  }

  .decoration-right {
    top: 750px;
    right: -500px;
  }
}
@media (max-width: 1400px) {
  .layout {
    font-size: 13px;
  }

  .hero {
    padding-top: 40px;
    height: 830px;
    border-radius: 0 0 140px 140px;
  }
  .hero__btn {
    width: 160px;
    height: 40px;
    line-height: 40px;
    font-size: 13px;
  }
  .hero__content {
    margin-top: 180px;
  }
  .hero__content h1 {
    font-size: 60px;
    line-height: 65px;
  }
  .hero__content p {
    font-size: 13px;
    margin-top: 30px;
    margin-bottom: 20px;
  }

  .header {
    max-width: 1100px;
  }
  .header__nav a {
    margin-left: 27px;
  }
  .header__group-1 {
    width: 615px;
  }
  .header__group-1 img {
    width: 40px;
    height: 40px;
  }
  .header__group-2 {
    width: 220px;
  }
  .header__sign-up, .header__sign-in {
    font-size: 13px;
    width: 110px;
    height: 42px;
    line-height: 42px;
  }

  .services {
    margin-top: -80px;
    max-width: 1100px;
  }
  .services__item {
    width: 258px;
    height: 220px;
  }
  .services__item img {
    margin-top: 30px;
    transform: scale(0.7);
  }
  .services__item h4 {
    margin-top: 8px;
    font-size: 14px;
  }
  .services__item p {
    max-width: 208px;
    font-size: 12px;
  }

  .content {
    margin-top: 110px;
  }
  .content__container {
    max-width: 1100px;
  }
  .content__btn {
    width: 160px;
    height: 40px;
    line-height: 40px;
    font-size: 14px;
    margin-top: 25px;
  }
  .content__price {
    width: 110px;
    height: 42px;
    line-height: 42px;
    font-size: 13px;
    bottom: -19px;
  }
  .content__like {
    top: 14px;
    right: 14px;
  }
  .content__like img {
    width: 28px;
    height: 28px;
  }
  .content__item {
    width: 258px;
    padding: 29px;
    margin-bottom: 25px;
    border-radius: 13px;
  }
  .content__item h4 {
    margin-top: 35px;
    font-size: 13.5px;
  }
  .content__item p {
    font-size: 12px;
    line-height: 20px;
    margin-bottom: 20px;
  }
  .content__item-btn {
    width: 145px;
    height: 38px;
    line-height: 38px;
    font-size: 13px;
  }
  .content__thumbnail {
    height: auto;
  }
  .content__thumbnail img {
    border-radius: 13px;
  }
  .content__icon {
    width: 62.23px;
    height: 62.31px;
  }
  .content h1 {
    margin-top: 30px;
    font-size: 27px;
    line-height: 33px;
  }

  .subscribe {
    margin-top: 110px;
    max-width: 1100px;
    padding-left: 80px;
    padding-right: 80px;
  }
  .subscribe h1 {
    font-size: 27px;
  }
  .subscribe p {
    font-size: 12px;
    line-height: 20px;
    margin-top: 10px;
    margin-bottom: 22px;
  }
  .subscribe__col-1 {
    margin-top: 63px;
    margin-bottom: 45px;
  }
  .subscribe__col-2 {
    text-align: right;
  }
  .subscribe__col-2 img {
    max-width: 69%;
  }
  .subscribe__mail-i {
    transform: scale(0.8);
    margin-left: 8px;
  }
  .subscribe__input-group {
    width: 450px;
    height: 63px;
    border-radius: 15px;
  }
  .subscribe__input-group input {
    font-size: 12px;
    text-indent: 6px;
  }
  .subscribe__input-group div span {
    width: 38px;
    height: 38px;
    border-radius: 14px;
  }
  .subscribe__input-group div span img {
    width: 48%;
  }
  .subscribe__decoration {
    max-width: 100%;
    left: 0;
  }

  .footer {
    margin-top: 130px;
    border-radius: 150px 150px 0 0;
    padding-top: 75px;
    height: 375px;
  }
  .footer__top-arrow {
    width: 40px;
    height: 40px;
    border-radius: 13px;
    top: -97px;
  }
  .footer__top-arrow img {
    width: 13px;
    height: auto;
  }
  .footer__col {
    width: 535px;
  }
  .footer__container {
    max-width: 1100px;
  }
  .footer h4 {
    font-size: 14px;
    margin-bottom: 14px;
  }
  .footer p {
    font-size: 12px;
    line-height: 22px;
  }
  .footer__row-1 span a {
    font-size: 12px;
    line-height: 22px;
  }
  .footer__row-2 {
    margin-top: 3px;
  }
  .footer__row-2 a:first-child {
    margin-right: 8px;
  }
  .footer__row-3 {
    margin-top: 40px;
    font-size: 12px;
  }
  .footer__download img {
    width: 110px;
  }

  .decoration-right {
    top: 820px;
    right: -250px;
  }
  .decoration-right img {
    width: 1950px;
  }
}
/*  1300px */
@media (max-width: 1300px) {
  .layout {
    font-size: 12px;
  }

  .hero {
    padding-top: 30px;
    height: 720px;
    border-radius: 0 0 120px 120px;
  }
  .hero__btn {
    width: 140px;
    height: 35px;
    line-height: 35px;
    font-size: 12px;
  }
  .hero__content {
    margin-top: 155px;
  }
  .hero__content h1 {
    font-size: 50px;
    line-height: 55px;
  }
  .hero__content p {
    font-size: 12px;
    margin-top: 22px;
    margin-bottom: 17px;
    line-height: 23px;
  }

  .header {
    max-width: 1020px;
  }
  .header__nav a {
    margin-left: 22px;
  }
  .header__group-1 {
    width: 545px;
  }
  .header__group-1 img {
    width: 35px;
    height: 35px;
  }
  .header__group-2 {
    width: 200px;
  }
  .header__sign-up, .header__sign-in {
    font-size: 12px;
    width: 100px;
    height: 38px;
    line-height: 38px;
  }

  .services {
    margin-top: -60px;
    max-width: 1020px;
  }
  .services__item {
    width: 240px;
    height: 200px;
  }
  .services__item img {
    margin-top: 25px;
    transform: scale(0.6);
  }
  .services__item h4 {
    margin-top: 5px;
    font-size: 12.5px;
    margin-bottom: 10px;
  }
  .services__item p {
    max-width: 220px;
    font-size: 11px;
    line-height: 13px;
  }

  .content {
    margin-top: 100px;
  }
  .content__container {
    max-width: 1020px;
  }
  .content__btn {
    width: 145px;
    height: 36px;
    line-height: 36px;
    font-size: 13px;
    margin-top: 25px;
  }
  .content__price {
    width: 100px;
    height: 38px;
    line-height: 38px;
    font-size: 12px;
    bottom: -16px;
    border-radius: 12px;
  }
  .content__like {
    top: 13px;
    right: 13px;
  }
  .content__like img {
    width: 25px;
    height: 25px;
  }
  .content__item {
    width: 239px;
    padding: 25px;
    margin-bottom: 22px;
    border-radius: 10px;
  }
  .content__item h4 {
    margin-top: 33px;
    font-size: 12.5px;
  }
  .content__item p {
    font-size: 11px;
    line-height: 18px;
    margin-bottom: 17px;
  }
  .content__item-btn {
    width: 140px;
    height: 35px;
    line-height: 35px;
    font-size: 12px;
  }
  .content__thumbnail {
    height: auto;
  }
  .content__thumbnail img {
    border-radius: 12px;
  }
  .content__icon {
    width: 62.23px;
    height: 62.31px;
  }
  .content h1 {
    margin-top: 22px;
    font-size: 23px;
    line-height: 26px;
  }

  .subscribe {
    margin-top: 95px;
    max-width: 1020px;
    padding-left: 70px;
    padding-right: 70px;
  }
  .subscribe h1 {
    font-size: 23px;
  }
  .subscribe p {
    font-size: 11px;
    line-height: 18px;
    margin-top: 8px;
    margin-bottom: 20px;
  }
  .subscribe__col-1 {
    margin-top: 60px;
    margin-bottom: 45px;
  }
  .subscribe__col-2 {
    text-align: right;
  }
  .subscribe__col-2 img {
    max-width: 63%;
  }
  .subscribe__mail-i {
    transform: scale(0.7);
    margin-left: 8px;
    margin-top: -1px;
  }
  .subscribe__input-group {
    width: 410px;
    height: 58px;
    border-radius: 14px;
  }
  .subscribe__input-group input {
    font-size: 11px;
    text-indent: 4px;
  }
  .subscribe__input-group div span {
    width: 35px;
    height: 35px;
    border-radius: 13px;
  }
  .subscribe__input-group div span img {
    width: 43%;
  }
  .subscribe__decoration {
    max-width: 100%;
    left: 0;
  }

  .footer {
    margin-top: 120px;
    border-radius: 130px 130px 0 0;
    padding-top: 75px;
    height: 345px;
  }
  .footer__top-arrow {
    width: 38px;
    height: 38px;
    border-radius: 12px;
    top: -95px;
  }
  .footer__top-arrow img {
    width: 11px;
    height: auto;
  }
  .footer__col {
    width: 495px;
  }
  .footer__container {
    max-width: 1020px;
  }
  .footer h4 {
    font-size: 13px;
    margin-bottom: 12px;
  }
  .footer p {
    font-size: 11px;
    line-height: 20px;
  }
  .footer__row-1 span a {
    font-size: 11px;
    line-height: 20px;
  }
  .footer__row-2 {
    margin-top: 2px;
  }
  .footer__row-2 a:first-child {
    margin-right: 5px;
  }
  .footer__row-3 {
    margin-top: 35px;
    font-size: 11px;
  }
  .footer__download img {
    width: 100px;
  }

  .decoration-right {
    top: 720px;
    right: -250px;
  }
  .decoration-right img {
    width: 1850px;
  }
}
@media (max-width: 1200px) {
  .layout {
    font-size: 11px;
  }

  .hero {
    padding-top: 25px;
    height: 650px;
  }
  .hero__btn {
    width: 130px;
    height: 32px;
    line-height: 32px;
    font-size: 11px;
  }
  .hero__content {
    margin-top: 145px;
  }
  .hero__content h1 {
    font-size: 42px;
    line-height: 50px;
  }
  .hero__content p {
    font-size: 11px;
    margin-top: 20px;
    margin-bottom: 15px;
    line-height: 20px;
  }

  .header {
    max-width: 920px;
  }
  .header__nav a {
    margin-left: 20px;
  }
  .header__nav a.active::after {
    height: 1.5px;
    width: 25px;
  }
  .header__group-1 {
    width: 500px;
  }
  .header__group-1 img {
    width: 32px;
    height: 32px;
  }
  .header__group-2 {
    width: 180px;
  }
  .header__sign-up, .header__sign-in {
    font-size: 11px;
    width: 90px;
    height: 34px;
    line-height: 34px;
  }

  .services {
    margin-top: -60px;
    max-width: 920px;
  }
  .services__item {
    width: 218px;
    height: 180px;
  }
  .services__item img {
    margin-top: 20px;
    transform: scale(0.5);
  }
  .services__item h4 {
    margin-top: 0px;
    font-size: 11px;
    margin-bottom: 8px;
  }
  .services__item p {
    max-width: 194px;
    font-size: 9.5px;
  }

  .content {
    margin-top: 85px;
  }
  .content__container {
    max-width: 920px;
  }
  .content__btn {
    width: 135px;
    height: 32px;
    line-height: 32px;
    font-size: 11px;
    margin-top: 20px;
  }
  .content__price {
    width: 90px;
    height: 34px;
    line-height: 34px;
    font-size: 11px;
    bottom: -13px;
    border-radius: 11px;
  }
  .content__like {
    top: 12px;
    right: 12px;
  }
  .content__like img {
    width: 23px;
    height: 23px;
  }
  .content__item {
    width: 216px;
    padding: 21px;
    margin-bottom: 20px;
    border-radius: 9px;
  }
  .content__item h4 {
    margin-top: 30px;
    font-size: 11.5px;
  }
  .content__item p {
    font-size: 9.5px;
    line-height: 18px;
    margin-bottom: 15px;
  }
  .content__item-btn {
    width: 130px;
    height: 32px;
    line-height: 32px;
    font-size: 11px;
  }
  .content__thumbnail {
    height: auto;
  }
  .content__thumbnail img {
    border-radius: 12px;
  }
  .content__icon {
    width: 49.23px;
    height: 49.31px;
  }
  .content h1 {
    margin-top: 20px;
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 40px;
  }

  .subscribe {
    margin-top: 75px;
    max-width: 920px;
    border-radius: 15px;
    padding-left: 65px;
    padding-right: 65px;
  }
  .subscribe h1 {
    font-size: 20px;
  }
  .subscribe p {
    font-size: 10px;
    line-height: 16px;
    margin-top: 6px;
    margin-bottom: 18px;
  }
  .subscribe__col-1 {
    margin-top: 50px;
    margin-bottom: 40px;
  }
  .subscribe__col-2 img {
    max-width: 60%;
  }
  .subscribe__mail-i {
    transform: scale(0.6);
    margin-left: 4px;
    margin-top: -1px;
  }
  .subscribe__input-group {
    width: 360px;
    height: 52px;
    border-radius: 13px;
  }
  .subscribe__input-group input {
    font-size: 10px;
    text-indent: 1px;
  }
  .subscribe__input-group div span {
    width: 30px;
    height: 30px;
    border-radius: 11px;
  }
  .subscribe__input-group div span img {
    width: 40%;
  }
  .subscribe__decoration {
    max-width: 100%;
    left: 0;
  }

  .footer {
    margin-top: 110px;
    border-radius: 120px 120px 0 0;
    padding-top: 65px;
    height: 315px;
  }
  .footer__top-arrow {
    width: 35px;
    height: 35px;
    border-radius: 11px;
    top: -84px;
  }
  .footer__top-arrow img {
    width: 10px;
    height: auto;
  }
  .footer__col {
    width: 445px;
  }
  .footer__container {
    max-width: 920px;
  }
  .footer h4 {
    font-size: 11px;
    margin-bottom: 10px;
  }
  .footer p {
    font-size: 10px;
    line-height: 19px;
  }
  .footer__row-1 span a {
    font-size: 10px;
    line-height: 19px;
  }
  .footer__row-2 {
    margin-top: 1px;
  }
  .footer__row-2 a:first-child {
    margin-right: 3px;
  }
  .footer__row-3 {
    margin-top: 30px;
    font-size: 10px;
  }
  .footer__download img {
    width: 92px;
  }

  .decoration-right {
    top: 600px;
    right: -250px;
  }
  .decoration-right img {
    width: 1750px;
  }
}
@media (max-width: 1024px) {
  .hero {
    height: 1080px;
    padding-top: 60px;
  }
  .hero__content {
    margin-top: 280px;
  }
  .hero h1 {
    font-size: 65px;
    line-height: 75px;
  }
  .hero p {
    font-size: 18px;
    line-height: 30px;
    margin-top: 40px;
    margin-bottom: 30px;
  }
  .hero__btn {
    width: 205px;
    height: 50px;
    line-height: 50px;
    font-size: 18px;
  }

  .header {
    max-width: 100%;
    margin: 0 40px;
  }
  .header__group-1 img {
    width: 50px;
    height: 50px;
  }
  .header__group-2 {
    width: auto;
  }
  .header__sign-up, .header__sign-in {
    width: 130px;
    height: 50px;
    line-height: 50px;
    font-size: 18px;
  }
  .header__menu-btn {
    display: block;
    margin-left: 40px;
  }
  .header__menu-btn:hover {
    opacity: 0.6;
  }
  .header__nav {
    display: none;
  }
}

/*# sourceMappingURL=index.css.map */
