@import url("normalize.css");
/*  RESPONSIVE  */
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
/*  Variable  */
body {
  background-color: #FAF4F2;
  font-size: 18px;
  -webkit-tap-highlight-color: transparent;
  font-family: "Roboto", sans-serif;
}

.layout {
  max-width: 1920px;
  height: 0;
  margin-left: auto;
  margin-right: auto;
}

.hero {
  height: 1080px;
  background-image: url("../images/hero.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 0 0 200px 200px;
  padding-top: 60px;
  box-sizing: border-box;
  box-shadow: 5px 10px 30px rgba(0, 0, 0, 0.05);
}
.hero__content {
  margin-top: 250px;
  color: white;
  text-align: center;
  margin-left: 20px;
  margin-right: 20px;
}
.hero__content h1 {
  font-size: 81px;
  line-height: 88px;
  font-family: "Archivo";
  font-weight: 900;
  margin: 0;
}
.hero__content p {
  line-height: 28px;
  margin-bottom: 30px;
  margin-top: 59px;
}
@media (max-width: 550px) {
  .hero__content p br {
    display: none;
  }
}
@media (max-width: 768px) {
  .hero__content h1 {
    font-size: 55px;
  }
}
@media (max-width: 425px) {
  .hero__content h1 {
    font-size: 45px;
    line-height: 49px;
  }
  .hero__content p {
    margin-top: 37px;
    margin-bottom: 20px;
  }
}
@media (max-width: 350px) {
  .hero__content h1 {
    font-size: 38px;
  }
  .hero__content p {
    font-size: 16px;
  }
}
.hero__btn {
  display: inline-block;
  width: 205px;
  height: 50px;
  line-height: 50px;
  border-radius: 25px;
  background-color: #E76F51;
}
.hero__btn:hover {
  opacity: 0.5;
}
@media (max-width: 768px) {
  .hero {
    padding-top: 40px;
  }
}
@media (max-width: 425px) {
  .hero {
    height: 761px;
    border-radius: 0 0 100px 100px;
  }
  .hero__content {
    margin-top: 117px;
  }
  .hero__btn {
    width: 160px;
  }
}

.header {
  max-width: 1518px;
  height: 50px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__group-1, .header__group-2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__group-1 {
  width: 866px;
}
.header__group-2 {
  width: 270px;
}
.header__nav {
  display: flex;
}
.header__nav a {
  display: block;
  user-select: none;
  color: #D2D2D2;
  text-decoration: none;
  margin-left: 40px;
}
.header__nav a:first-child {
  margin-left: 0;
}
.header__nav a:hover:not(.active) {
  color: white;
}
.header__nav a.active {
  position: relative;
  color: #ffffff;
  z-index: 0;
}
.header__nav a.active::after {
  position: absolute;
  z-index: -1;
  top: 7px;
  left: 3px;
  content: "";
  width: 40px;
  height: 3px;
  background: #E76F51;
  transform: rotate(45deg);
}
.header__sign-up {
  width: 130px;
  height: 50px;
  line-height: 50px;
}
.header__sign-up:hover {
  opacity: 0.5;
}
.header__sign-in {
  width: 130px;
  height: 50px;
  line-height: 50px;
  border: 1px solid white;
  border-radius: 25px;
  box-sizing: border-box;
}
.header__sign-in:hover {
  background-color: white;
  color: #505050;
  opacity: 0.5;
}
.header__logo {
  user-select: none;
}
.header__logo:hover {
  opacity: 0.6;
}
.header__menu-btn {
  display: none;
}
@media (max-width: 1558px) {
  .header {
    margin: 0 20px;
  }
}
@media (max-width: 1170px) {
  .header__group-1 {
    width: 750px;
  }
  .header__nav a {
    margin-left: 25px;
  }
  .header__group-2 {
    width: 240px;
  }
  .header__sign-up, .header__sign-in {
    width: 120px;
  }
}
@media (max-width: 1024px) {
  .header__nav {
    display: none;
  }
  .header__group-2 {
    width: auto;
    align-items: normal;
  }
  .header__menu-btn {
    display: block;
    margin-left: 40px;
  }
  .header__menu-btn:hover {
    opacity: 0.6;
  }
}
@media (max-width: 500px) {
  .header__menu-btn {
    margin-left: 20px;
  }
}
@media (max-width: 425px) {
  .header__sign-up, .header__sign-in {
    display: none;
  }
}

.button {
  font-size: 18px;
  font-weight: 500;
  color: white;
  text-decoration: none;
  text-align: center;
  user-select: none;
}

.services {
  margin-top: -108px;
  max-width: 1518px;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: transparent;
  color: #3B3735;
}
.services__item {
  width: 357px;
  height: 312px;
  background-color: white;
  border-radius: 20px;
  text-align: center;
}
.services__item img {
  margin-top: 60px;
}
.services__item h4 {
  margin-top: 23px;
  margin-bottom: 12px;
  font-family: "Archivo";
  font-weight: 900;
  font-size: 18px;
}
.services__item p {
  max-width: 277px;
  height: auto;
  font-size: 16px;
  margin: 0 auto;
}
@media (max-width: 1558px) {
  .services {
    margin-left: 20px;
    margin-right: 20px;
  }
  .services__item {
    margin-right: 15px;
  }
  .services__item:last-child {
    margin-right: 0;
  }
}
@media (max-width: 1300px) {
  .services__item p {
    max-width: 307px;
    padding: 0 15px;
    box-sizing: border-box;
  }
}
@media (max-width: 1024px) {
  .services {
    flex-wrap: wrap;
    justify-content: center;
  }
  .services__item:nth-child(1), .services__item:nth-child(2) {
    margin-bottom: 20px;
  }
  .services__item:nth-child(2), .services__item:nth-child(4) {
    margin-right: 0;
  }
}
@media (max-width: 770px) {
  .services__item {
    width: 300px;
  }
}
@media (max-width: 675px) {
  .services__item {
    width: 280px;
  }
}
@media (max-width: 620px) {
  .services__item {
    width: 260px;
  }
}
@media (max-width: 575px) {
  .services__item {
    width: 240px;
  }
}
@media (max-width: 540px) {
  .services__item {
    width: 220px;
  }
}
@media (max-width: 500px) {
  .services {
    margin-top: -160px;
  }
  .services__item {
    width: 374px;
    margin-right: 0;
    margin-bottom: 20px;
  }
}

.content {
  margin-top: 150px;
  max-width: 1548px;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  color: #3B3735;
}
.content h1 {
  font-family: "Archivo";
  font-size: 40px;
  line-height: 43px;
  margin-top: 47px;
  margin-bottom: 74px;
}
.content__container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.content__item {
  max-width: 357px;
  height: auto;
  background-color: white;
  border-radius: 20px;
  padding: 40px;
  box-sizing: border-box;
  margin-left: 15px;
  margin-right: 15px;
  margin-bottom: 30px;
}
.content__item h4 {
  font-family: "Archivo";
  font-size: 18px;
  font-weight: 900;
  margin-top: 46px;
  margin-bottom: 6px;
}
.content__item h4 a {
  text-decoration: none;
  color: #3B3735;
}
.content__item p {
  font-size: 16px;
  line-height: 28px;
  margin-top: 0;
  margin-bottom: 25px;
}
.content__item-btn {
  display: inline-block;
  width: 185px;
  height: 50px;
  line-height: 50px;
  border-radius: 25px;
  color: #8D8D8D;
  background-color: rgba(141, 141, 141, 0.1);
  transition: 0.3s;
}
.content__item-btn:hover {
  color: white;
  background-color: #E76F51;
}
.content__thumbnail {
  max-width: 277px;
  height: 180px;
  position: relative;
}
.content__thumbnail img {
  width: 100%;
  border-radius: 20px;
}
.content__price {
  position: absolute;
  bottom: -25px;
  left: 0;
  right: 0;
  margin: 0 auto;
  z-index: 1;
  width: 145px;
  height: 50px;
  line-height: 50px;
  border-radius: 14px;
  background-color: white;
  font-weight: 500;
  color: #E76F51;
}
.content__like {
  position: absolute;
  right: 20px;
  top: 20px;
  z-index: 1;
  cursor: pointer;
  transition: 0.2s;
}
.content__like img {
  border-radius: 0;
}
.content__like img:hover:not(img.content__like--active) {
  opacity: 0.7;
}
.content__btn {
  display: block;
  margin: 0 auto;
  width: 205px;
  height: 50px;
  line-height: 50px;
  border: 1px solid #E76F51;
  box-sizing: border-box;
  color: #E76F51;
  border-radius: 25px;
  transition: 0.2s;
  margin-top: 40px;
}
.content__btn:hover {
  cursor: pointer;
  background: #E76F51;
  color: white;
  opacity: 0.6;
}

.subscribe {
  margin-top: 150px;
  max-width: 1518px;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  display: flex;
}
.subscribe h1 {
  font-family: "Archivo";
  font-size: 40px;
  font-weight: 900;
  margin: 0;
}
.subscribe p {
  margin-top: 15px;
  margin-bottom: 30px;
  font-size: 16px;
  font-weight: 500;
  line-height: 28px;
}
.subscribe__input-group {
  width: 616px;
  height: 80px;
  display: flex;
  background: red;
  padding: 15px;
  box-sizing: border-box;
}
.subscribe__input-group input {
  width: 80%;
  height: 100%;
}
.subscribe__input-group img {
  width: 20%;
}
@media (max-width: 1558px) {
  .subscribe {
    margin-left: 20px;
    margin-right: 20px;
  }
}

/*# sourceMappingURL=index.css.map */
